<!DOCTYPE html>
<html>
<head>
	<title>HTTP Video</title>
</head>
<body>
	<h1>List of available videos:</h1>
	<ul>
		<% locals.video_list.map((video_id) => { %>
			<li><a href="/watch/<%- video_id %>"><%- video_id %></a></li>
		<% }) %>
	</ul>
</body>
</html>