<!DOCTYPE html>
<html>
<head>
	<title>HTTP Video</title>
</head>
<body>
	<h1><a href="/">Home</a></h1>
	<video id="videoPlayer" width="600" height="400" controls data-player-id="<%- locals.video_id %>"></video>
</body>
	<script type="text/javascript" src="/player-bundle.js"></script>
</html>